---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

// Fetch all entries from the 'gita' collection
const allVerses = await getCollection('gita');
---

<Layout title="Bhagavad Gita - Vedic Site">
	<h1>Welcome to Vedic Site</h1>
	<p>Explore the Bhagavad Gita verses below:</p>
	
	<ul>
		{allVerses.map(verse => (
			<li>
				<a href={`/vedic-site/gita/${verse.slug}`}>
					{verse.data.title || verse.slug.replace('-', ' ')}
				</a>
			</li>
		))}
	</ul>
</Layout>